<h3 class="title has-text-grey">Pedro's Url Shortener</h3>
<div class="box">
<figure class="avatar">
    <img src="https://placehold.it/128x128">
</figure>
<form>
    <%= link "Sign in with github", to: auth_path(@conn, :index), class: "button is-block is-info is-large is-fullwidth" %>
</form>
</div>
